{% extends 'main.html' %}

{% block content %}

<div class="container my-2">
    <a href="{% url 'tasks' %}">
        <button type="submit" class="btn btn-primary">Go back <i class="fa fa-solid fa-arrow-left"></i></button>
    </a>
    <form action="" method="post" class="my-3">
        {% csrf_token %}
        <p class="text-break">Are you sure you want to delete this task?
            Task title: {{task}}</p>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    {% endblock content %}
</div>